<h2>ルート情報</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Track.human_attribute_name(:id) %></th>
      <th><%= Track.human_attribute_name(:name) %></th>
      <th><%= Track.human_attribute_name(:trackpoints) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tracks.each_with_index do |track, index| %>
      <tr>
        <td><%= track.id %></td>
        <td><%= track.name %></td>
        <td><%= track.trackpoints.size %></td>
        <td>
          <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal<%= track.id %>">
            <%= t('.load', :default => t("helpers.links.load")) %>
          </button>
          <%= render "tracks/load_modal", { track: track } %>
          <%= link_to t('.export', :default => t("helpers.links.export")),
              export_track_path(track, format: 'gpx'), class: 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              track_path(track),
              :method => :delete,
              :remote => true,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>