<div class="page-header">
  <h1><%= t("users.index_checklists.title") %></h1>
</div>

<% @checklist_report.each do |datetime, checklists| %>
  <% date_key = datetime.nil? ? "Nil" : datetime.strftime("%Y-%m-%d-%H-%M-%S") %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= date_key %>">
        <h4 class="panel-title">
          <a class="collapsed text-left" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= date_key %>" aria-expanded="false" aria-controls="collapse<%= date_key %>">
            <%= datetime.nil? ? "undefined" : l(datetime) %>
          </a>
          <p class="pull-right">
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        url_for(action: 'destroy', user_id: current_user, datetime: date_key),
                        :method => :delete,
                        # :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </p>
        </h4>
      </div>
      <div id="collapse<%= date_key %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= date_key %>">
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% checklists.each do |item| %>
                <tr>
                  <td><%= item.try(:checklist).try(:title) || "ID-#{item.checklist_id}" %></td>
                  <td><%= boolean_glyph(item.checked) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>