<div class="page-header">
  <h1><%= t("users.index_attendances.title") %></h1>
</div>

<% @attendances.each do |attendance| %>
  <% date_key = attendance.date.strftime("%Y-%m-%d-%H-%M-%S") %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= date_key %>">
        <h4 class="panel-title">
          <a class="collapsed text-left" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= date_key %>" aria-expanded="false" aria-controls="collapse<%= date_key %>">
            <%= l(attendance.date) %>
          </a>
        </h4>
      </div>
      <div id="collapse<%= date_key %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= date_key %>">
        <div class="panel-body">
          <ul>
            <li>開始: <%=l attendance.started_at %></li>
            <li>終了: <%=l attendance.ended_at %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to t("helpers.links.start_work"),
            attendances_start_user_path(@user),
            :class => 'btn btn-primary' %>
<%= link_to t("helpers.links.end_work"),
            attendances_end_user_path(@user),
            :class => 'btn btn-primary' %>

