<div class="page-header">
  <h1><%= t("pictures.index.title") %></h1>

  <%= form_for @upload_form, url: { action: 'upload' }, html: { multipart: true, remote: true, authenticity_token: true } do |f| %>
    <div class="control-group">
      <%= f.label :file, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :file, :class => 'form-control' %>
      </div>
    </div>
    <%= f.submit t("button.upload_img"), :class => 'btn btn-primary' %>
  <% end %>

  <h2>アップロード結果</h2>
  <div id="result"></div>

  <h2>一覧</h2>
  <% resources = @resources["resources"] %>
  <% keys = resources.first.keys %>
  <table class="table table-striped">
    <thead>
      <tr>
        <% keys.each do |key| %>
        <th><%= key %></th>
        <% end %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% resources.each do |resource| %>
        <tr>
          <% keys.each do |key| %>
            <td><%= format_resource_value(key, resource[key]) %></td>
          <% end %>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
