<div class="page-header">
  <h1><%= t("pictures.index.title") %></h1>

  <%= form_for @upload_form, url: { action: 'upload' }, html: { multipart: true, remote: true, authenticity_token: true } do |f| %>
    <div class="control-group">
      <%= f.label :file, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :file, :class => 'form-control' %>
      </div>
    </div>
    <%= f.submit t("button.upload_img"), :class => 'btn btn-primary' %>
  <% end %>

  <h2>アップロード結果</h2>
  <div id="result"></div>

  <h2>一覧</h2>
  <div id="resources">
    <%= render partial: 'resources', locals: { resources: @resources } %>
  </div>
  </table>
</div>
