<%= form_for @checklist, :html => { :class => "form-horizontal checklist" } do |f| %>

    <% if @checklist.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@checklist.errors.count, "error") %> prohibited this checklist from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @checklist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            checklists_path, :class => 'btn btn-default' %>

<% end %>
